label{
  color:  black !important;
  font-weight: 700 !important;
}
input{
  border: 1px solid rgb(154, 147, 147) !important;
  border-radius: 2px !important;
}
select{
  border: 1px solid rgb(154, 147, 147) !important;
  border-radius: 2px !important;
}

.error {
  color: red !important;
  font-size: 12px !important;
  margin-top: 3px !important;
}
