/* Dark Theme Styles */
.dark-theme {
    background-color: #000000;
    color: #ffffff;
  }
  .dark-theme .change {
    background-color: #000000be;
  }
  
  .dark-theme  ul li {
    color: white;
  }
  
  .dark-theme .navButton {
    background-color: #ffffff;
    color: #000000;
  }
  
  .dark-theme .navButton:hover {
    background-color: #90CAF9;
  }
  
  /* Light Theme Styles */
  .light-theme {
    background-color: #f4f4f4;
    color: #000000;
  }
  
  .light-theme  ul li {
    color: white;
  }
  
  .light-theme .navButton {
    background-color: #000000;
    color: #ffffff;
  }
  
  .light-theme .navButton:hover {
    background-color: #5188B5;
  }
  ul li {
    border-top: 3px solid transparent;
    transition: border-top 0.3s ease-out;
  }
  
  ul li:hover {
    border-top: 3px solid white;
  }


  